.wrapper {
  margin: 50px;
}

.tbody > td {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.tablerow {
  display: table-row;
}
.tablecell,
.tablehead {
  display: table-cell;
  padding: 1em;
  border: #f0f0f0 1px solid;
}
.tablehead {
  font-weight: bold;
}
