.logo {
  width: 78px;
}

.selectControl {
  display: block;
  width: 96%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.anchorTag {
  text-decoration: none;
  color: black;
}

.anchorTag:hover {
  text-decoration: none;
  color: black;
}

.loading {
  position: fixed;
  top: 1;
  left: 0;
  background: grey;
  opacity: 0.8;
  z-index: 9999999;
  height: 100%;
  width: 100%;
}

.innerLoading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  background: blue;
  opacity: 0.8;
  padding: 5px;
  border-radius: 30px;
  z-index: 9999999;
}

.innerLoading > p {
  animation: blinker 1.5s linear infinite;
}

.hide {
  display: none;
}
