.customcard {
  width: 450px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 30px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 5px 10px rgb(64, 59, 125), 0 0px 40px rgb(255, 252, 0);
}

.image {
  justify-content: center;
  display: flex;
}

.formFormatter {
  padding: 30px;
  margin: 0px;
}

.customrow {
  justify-content: center;
}

.username {
  color: black;
  opacity: 0.8;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}

.password {
  color: black;
  opacity: 0.8;
  font-size: 1em;
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

.formGroup {
  padding: 0px;
  margin: 0px;
}

.formControl {
  padding: 15px;
  margin: 0px;
}

.buttonformatter {
  display: flex;
  justify-content: center;
}

.custombutton {
  margin-top: 20px;
  height: 50px;
  padding: 10;
  width: 100%;
  background: whitesmoke;
  color: grey;
  font-weight: 400;
  font-size: 18px;
  border-color: whitesmoke;
  border-radius: 20px;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
}

.custombutton:focus {
  margin-top: 20px;
  height: 50px;
  padding: 10;
  width: 100%;
  background: whitesmoke;
  color: grey;
  font-weight: 600;
  border-color: whitesmoke;
  border-radius: 20px;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
}

.custombutton:hover {
  transform: scale(1.05);
  opacity: 1;
  transition: 0.1s;
  background-color: rgba(255, 252, 0, 100);
  border-radius: 20px;
  border: none;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  outline: none;
  color: rgb(0, 17, 44);
}

.hccclogo {
  height: 15em;
  width: 15em;
}

.customtag:hover {
  text-decoration: none;
}
